html {
  text-align: center;
  background-color: cadetblue;
}
.nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(86, 54, 54);
  color: #fff;
  position: fixed;
  top: 0;
  width: 100vw;
}
.cur{
  cursor: pointer;
}
.cardtop{
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card{
  border: 1px solid lightblue;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  text-align: start;
  background-color: #fff;
  width: 270px;
}
.button{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.form{
  border: 1px solid skyblue;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  width: 500px;
  padding: 20px;
  gap: 1rem;
  margin-top: 50px;
  border-radius: 20px;
}
.nav button{
  color: #fff;
}
.load{
  height: 100vh;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:800px){
  .form{
    width: 290px;
  }
}